.section {
  padding: 24px;
  margin: 24px 0;
  border: 1px solid black;
}

.no-tasks {
  color: gray;
}

.task-done {
  text-decoration: line-through;
  color: lightgray;
}

.task-name {
  margin-left: 8px;
}

.remove-task-button {
  margin-left: 8px;
}

.clear-tasks-button {
  margin-top: 16px;
}

code {
  padding: 2px 4px;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  background-color: #f6f7f8;
}
